body{

    background-color: rgb(9, 58, 99);
}

.container{

    width: 800px;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.container, h1{

    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}